<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board</title>
<link rel="stylesheet" type="text/css" th:href="@{./css/menu.css}">
<link rel="stylesheet" type="text/css" th:href="@{./css/board.css}">
</head>
<body>
<th:block th:insert="~{/menu.html :: menu}"></th:block>
	<h1>보드</h1>
	<table>
		<thead>
			<tr>
				<td>번호</td>
				<td>제목</td>
				<td>글쓴이</td>
				<td>날짜</td>
				<td>좋아요</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row, i : ${list}">
				<td th:text="${row.bno}"></td>
				<td th:onclick="|location.href='@{./detail(bno=${row.bno})}'|">[[${row.btitle}]]<small>[[${row.commentcount}]]</small></td>
				<td th:text="${row.m_name}"></td>
				<td th:text="${row.bdate}"></td>
				<td th:text="${row.blike}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>